<body>
<h1>Yoni Wantz Hugz</h1>

{{> hugs}}
</body>

<template name="hugs">
<style>
body {
    background-color: {{bgcolor}};
    color: {{fontcolor}};
}
</style>
    <p>Poor Yoni needs hugz to live.</p>
    <p>Hugz go directly towards making Yoni less poor.</p>
    <button class="hug">Hug Yoni</button>
    <p>Yoni has only been hugged {{hugs}} times :(</p>
    <button class="overhug">OVERHUG Yoni</button>
    <p>Yoni has received {{overhugs}} <b>overhugz</b>.</p>
    <p>For every <b>overhug</b> Yoni gets, Dan gets whipped 20 times, for a total of {{lashes}} lashes.</p>
    <p>Trust me, you want Dan to get whipped. So give me <b>HUGZ</b>.</p>
</template>
